/*-----------------------------------------------------------------------------------
	variables.less
-----------------------------------------------------------------------------------*/
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7CA.ttf) format('truetype');
}
/* ----------------------------------------------------------------
	Base Colors
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Line Height Variables
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Margins
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Font Families
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Font Sizes
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Layouts
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Primary Menu
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Device Variables
-----------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------
	mixins.less
-----------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*-----------------------------------------------------------------------------------
	global.less
-----------------------------------------------------------------------------------*/
* {
  max-width: 100%;
}
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #283c46;
}
h1,
h2,
h3,
h4 {
  font-family: 'Roboto Condensed', serif;
}
header {
  background-color: #F6F2EF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 19px;
}
@media (min-width: 500px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }
}
header .logo {
  font-family: 'Roboto Condensed', serif;
  font-size: 1.6rem;
  color: #283c46;
  margin: 0 0.25em;
}
@media (min-width: 500px) {
  header .logo {
    font-size: 1.4rem;
  }
}
header .logo span {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
.text-right {
  text-align: right;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem;
}
nav .nav-item {
  text-decoration: none;
}
nav .nav-item,
nav .button {
  font-family: 'Roboto Condensed', serif;
  font-size: 1rem;
  letter-spacing: normal;
  color: #283c46;
  margin: 0.5rem 1rem 0;
}
@media (min-width: 500px) {
  nav .nav-item,
  nav .button {
    margin: 0 0.5rem;
  }
}
.button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
}
@media (min-width: 500px) {
  .button {
    background-color: #22283A;
    border: 0.1em solid #22283A;
    color: #fff !important;
    padding: 0.5rem 1rem;
  }
  .button:hover {
    background-color: #2DA562;
    border-color: #2DA562;
  }
}
@media (min-width: 500px) {
  .button--secondary {
    background-color: transparent;
    border: 1px solid #22283A;
    color: #22283A !important;
  }
  .button--secondary:hover {
    background-color: #22283A;
    border-color: #22283A;
    color: #fff !important;
  }
}
.button-large {
  padding: 1rem;
  font-size: 1.125rem;
  line-height: 1;
}
.button-block {
  width: 100%;
}
.button-cta {
  background-color: #2DA562;
  border-color: #2DA562;
  color: #fff;
}
.button-cta:hover {
  background-color: transparent;
  color: #2DA562 !important;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}
.form-label-group:last-child {
  margin-bottom: 0;
}
.form-label-group > input,
.form-label-group > label {
  height: 3.125rem;
  padding: 0.75rem;
}
.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: 0.25rem;
}
.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 12px;
  color: #777;
}
.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}
.form-label-group > label:a {
  display: block;
}
/* Fallback for Edge
  -------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}
/* Fallback for IE
  -------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}
/*-----------------------------------------------------------------------------------
	footer.less
-----------------------------------------------------------------------------------*/
footer {
  background-color: #2DA562;
  color: #fff;
  padding: 2rem;
}
/*-----------------------------------------------------------------------------------
	home-page.less
-----------------------------------------------------------------------------------*/
.hero {
  background-image: url('/images/robert-lukeman-zNN6ubHmruI-unsplash.jpg');
  background-color: rgba(0, 0, 0, 0.9);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 500px) {
  .hero {
    flex-direction: row;
    justify-content: space-between;
  }
}
.hero .text {
  margin: 30px;
  padding: 1.5rem;
}
@media (min-width: 500px) {
  .hero .text {
    width: 70%;
  }
}
.hero .text h2 {
  font-size: 3.5rem;
  color: #fff;
  line-height: 1.2;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.hero .text p {
  font-size: 1.8rem;
  color: #fff;
  letter-spacing: 0.1rem;
  line-height: 1.2;
  margin-top: 1rem;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}
.hero .form {
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3), 0 2px 4px -1px rgba(0, 0, 0, 0.01);
  height: auto;
  margin: 30px;
  padding: 1.5rem;
}
.hero .form h2 {
  font-size: 2rem;
}
.hero .form .sub-heading {
  margin-top: 0.2rem;
}
.hero .form form {
  margin-top: 0.5rem;
}
.feature-container {
  display: flex;
  align-items: center;
  padding: 2rem;
}
.feature-container .text {
  padding: 2rem;
  width: 60%;
}
.feature-container .text h2 {
  font-size: 1.6rem;
  line-height: 1.2;
}
@media (min-width: 500px) {
  .feature-container .text h2 {
    font-size: 2rem;
  }
}
.feature-container .photo {
  width: 40%;
}
.feature-container .photo img {
  height: auto;
  width: 400px;
}
.mentions-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #F1F4F6;
  padding: 2rem;
}
.mentions-container .mentions__logo {
  opacity: 0.2;
  margin: 20px 10px;
}
