/*-----------------------------------------------------------------------------------
	footer.less
-----------------------------------------------------------------------------------*/

footer {
	background-color: @theme-color;
	color: #fff;
	padding: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.social__logo {
		opacity: 0.2;
		height: auto;
		width: 2rem;

		&:hover {
			opacity: 0.3;
		}

		&:active {
			opacity: 0.6;
		}

	}
}