nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .5rem;

    .nav-item {
        text-decoration: none;
    }

    .nav-item,
    .button {
        font-family: @primary-menu-font;
        font-size: @primary-menu-font-size;
        letter-spacing: @primary-menu-font-spacing;
        color: @body-color;
        margin: 0 0.5rem;
    }

    .button {
        text-decoration: none;

        @media @tablet {
            background-color: @btn-bg-color;
            border: 0.1em solid @btn-bg-color;
            border-radius: 0;
            color: #fff;
            padding: 0.5rem 1rem;
        }

    }

    @media @tablet {
        .button--secondary {
            background-color: transparent;
            color: @btn-bg-color;
        }
    }


}